<div class="header"> 
    <p class="p"><a routerLink='/practice'>Home</a> > <span style="pointer-events:none;">Learn Area</span></p>
    <h3 class="header_1">Dashboard</h3>
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col-4-lg ml-5 mb-5">
            <div class="card l" style="width: 30rem;">
                <div class="card-body">
                    
                    <h5 class="card-text">
                        
                        Quantitative Apptitude
                        
                    </h5>
                    <a  class="btn btn-outline-success float-right" (click)='qtopics()'>start</a>
                </div>
            </div>
        </div>
        <div class="col-4-lg ml-5 mb-5">
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                   
                    <h5 class="card-text" class="w">
                        Logical Reasoning
                    </h5>
                   
                        <a  class="btn btn-outline-success float-right" (click)='ltopics()'>Start</a>
                </div>
            </div>
        </div>
        
    </div>
</div>