

  
<div>
  <ng-template #customLoadingTemplate>
  </ng-template>

    <div class="header">
        <a  class="logo">Exam Portal</a>
        <div class="header-right">
          <p>Test Title:<b>{{title}}</b></p> 
        </div>
      </div>
      
      
      <div id="mybutton">
        <button class="feedback">{{counterr}}</button>
        </div>
       
      <div class="questions">
        <p><b>{{index+1}} of {{no}} questions</b></p>
      </div>
      
      <div  class="container maincon">
        <div  class="row">
            <div class="col-4-lg" style="width: 50em;">
              <div class="card" style="background-color: whitesmoke;">
                <div class="card-body">
                   <div>
                    <div  class="container">
                      <div  class="row">
                          <div class="col-4-lg">
                           
                                <div class="card" style="width:47em;">
                                  <div class="card-body" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" 
                                  unselectable="on"
                                  onselectstart="return false;" 
                                  onmousedown="return false;">
                                      <p>{{questions?.title}}</p>
                                  </div>
                              </div>
                            
                             
                          </div>
                  
                      </div>
                  </div>
      
                  <mat-radio-group aria-label="Select an option"   (change)='answer()' [(ngModel)]="favoriteSeason">
                    <div  class="container">
                      <div  class="row">
                          <div class="col-4-lg ml-5">
                          
                                <div class="card mt-4" style="width: 18em;">
                                  <div class="card-body">
                                    <mat-radio-button  value={{questions?.optA}}>{{questions?.optA}}</mat-radio-button>
                                  </div>
                              </div>
                           
                             
                          </div>
                          <div class="col-4-lg ml-5">
                          
                                <div class="card mt-4" style="width: 18em;">
                                  <div class="card-body">
                                    <mat-radio-button   value={{questions?.optB}}>{{questions?.optB}}</mat-radio-button>
                                  </div>
                              </div>
                         
                             
                          </div>
                  
                      </div>
                      <div  class="row">
                        <div class="col-4-lg ml-5">
                          
                              <div class="card mt-4" style="width: 18em;">
                                <div class="card-body">
                                  <mat-radio-button  value={{questions?.optC}}>{{questions?.optC}}</mat-radio-button>
                                </div>
                            </div>
                          
                           
                        </div>
                        <div class="col-4-lg ml-5">
                         
                              <div class="card mt-4" style="width: 18em;">
                                <div class="card-body">
                                  <mat-radio-button  value={{questions?.optD}}>{{questions?.optD}}</mat-radio-button>
                                </div>
                            </div>
                          
                           
                        </div>
                  
                    </div>
                      
                   </div>
                  
                  
                  
                  </mat-radio-group>
                    
                  
                   </div>
                </div>
            </div>
             
               
            </div>
      
            <div class="col" style="margin-left: 5%;">
              <div class="row">
                
                              <div *ngFor="let item of qno; let i = index" class="m-1">
                                
          
                                  <div *ngIf='options[item-1]'> <button type="button" class="btn btn-success" (click)='q(item-1)'>{{item}}</button></div>
                                  <div *ngIf='!options[item-1]'><a class="btn btn-outline-success" (click)='q(item-1)'>{{item}}</a> </div>
                                
                                
                               
                              </div>

              </div>
              
         </div>
      </div>
      </div>
      <div class="next" *ngIf='IsDisabled'>
        <button mat-raised-button color="success" disabled>Previous</button>&nbsp;  
        <a class="btn btn-outline-success" (click)='next()'>Save & Next</a>
       </div>
      
       <div class="next" *ngIf='!IsDisabled && !IsSubmit'>
        <a class="btn btn-outline-success" (click)='previous()'>Previous</a>&nbsp;  
        <a class="btn btn-outline-success" (click)='next()'>Save & Next</a>
       </div>
       <div class="sub" *ngIf='IsSubmit'>
        <a class="btn btn-outline-success" (click)='previous()'>Previous</a>&nbsp;  
        <button class="btn btn-outline-success" (click)='checkanswer()' [disabled]='counter!=timeleft'>Submit</button>
      </div>
    
    
    
    <!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading> -->
</div>



<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">

  <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
  <div class="modal-dialog modal-dialog-centered" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Time is up!</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">

        
        <div class="loader">Please wait while test is being submited<span class="loader__dot">.</span><span class="loader__dot">.</span><span class="loader__dot">.</span></div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <div *ngIf='!mudiala'>
          <button type="button" class="btn btn-success" (click)='checkanswer()' >Submit</button>
        </div>
        <div *ngIf='mudiala'>
          <button  type="button" class="btn btn-success" (click)='mudividu()'>Close</button>
        </div>

      </div>
    </div>
  </div>
</div>


   
  <!-- <div *ngIf='ipo'>
    <app-acportal (passedEvents)="acsolveCallingAcportal()"></app-acportal>
  </div> -->
   
  <!-- <notifier-container></notifier-container> -->
  
  
      